<img style="float: center;" src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="360" />

# ASSIGNMENT
## ARIMA Time Series

# About the dataset

In late 2010, Onion prices shot through the roof and causing grave crisis. Apparently the crisis was caused by lack of rainfall in major onion producing region - Maharashtra and Karnataka and led to large scale hoarding by the traders. The crisis caused political tension in the country and described as "a grave concern" by then Prime Minister Manmohan Singh.


- BBC Article in Dec 2010 - [Stink over onion crisis is enough to make you cry](http://www.bbc.co.uk/blogs/thereporters/soutikbiswas/2010/12/indias_onion_crisis.html)
- Hindu OpEd in Dec 2010 - [The political price of onions](http://www.thehindu.com/opinion/editorial/article977100.ece)

![](img/peeling_the_onion_small.png)


The purpose of this assignment is to __predict the price of onion in Bangalore using ARIMA.__

### Preprocessing to get the tidy dataframe

In [1]:
# Import the library we need, which is Pandas and Matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
# Import statsmodel
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.tsa.stattools import adfuller

In [2]:
# Set some parameters to get good visuals - style to ggplot and size to 15,10
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (10, 5)

In [3]:
# Read the csv file of Monthwise Quantity and Price csv file we have.
df = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-3/master/Data/Assignment/MonthWiseMarketArrivals_Clean.csv')

In [4]:
from datetime import datetime

df['date']  =  pd.to_datetime(df['date'],infer_datetime_format = True)             #convert from string to datetime
print(df.date.min())
# Convert date in datetimedelta figure starting from zero
df["timeIndex"] = df.date - df.date.min()
df  =  df.set_index(['date'])
df.head(5)

1996-01-01 00:00:00

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,timeIndex
date,,,,,,,,,,
2005-01-01,ABOHAR(PB),January,2005,2350,404,493,446,PB,ABOHAR,3288 days
2006-01-01,ABOHAR(PB),January,2006,900,487,638,563,PB,ABOHAR,3653 days
2010-01-01,ABOHAR(PB),January,2010,790,1283,1592,1460,PB,ABOHAR,5114 days
2011-01-01,ABOHAR(PB),January,2011,245,3067,3750,3433,PB,ABOHAR,5479 days
2012-01-01,ABOHAR(PB),January,2012,1035,523,686,605,PB,ABOHAR,5844 days

In [5]:
# Sort the data frame by date
df = df.sort_values(by = "date")

In [6]:
df.head()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,timeIndex
date,,,,,,,,,,
1996-01-01,LASALGAON(MS),January,1996,225063,160,257,226,MS,LASALGAON,0 days
1996-02-01,LASALGAON(MS),February,1996,196164,133,229,186,MS,LASALGAON,31 days
1996-03-01,LASALGAON(MS),March,1996,178992,155,274,243,MS,LASALGAON,60 days
1996-04-01,LASALGAON(MS),April,1996,192592,136,279,254,MS,LASALGAON,91 days
1996-05-01,LASALGAON(MS),May,1996,237574,154,312,269,MS,LASALGAON,121 days

### Q1. Create a dataframe named dfBang containing only the columns "quantity","priceMod","date" which have city as Bangalore. Also plot the distribution of priceMod with red color.

In [ ]:
def generate():
    # your code here
    return dfBang
dfBang = generate()
dfBang.head()

In [ ]:
# Convert to months using the timedelta function
dfBang["timeIndex"] =  dfBang["timeIndex"]/np.timedelta64(1, 'M')

In [ ]:
dfBang.timeIndex.head()

In [ ]:
# Round the number to 0
dfBang["timeIndex"] = dfBang["timeIndex"].round(0).astype(int)

In [ ]:
dfBang.timeIndex.tail()

In [ ]:
dfBang.priceMod.plot(kind = "hist", bins = 30)

### Q2. Perform seasonal decomposition on priceMod column with model as "additive" , store it in dataframe named decomposed_dataset. Plot it.

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose
def generate():
    # your code here
    return decomposed_dataset
decomposed_dataset = generate()

### Q3.   Create a function named rolling_means to plot the rolling means statistics (mean and standard deviation both at rolling window size 12) along with the orignal distribution of given time series column. Below are the color and labels specification.
- For orignal distribution of the time series column, take color = 'blue' and label = 'Original'
- For distribution of rolling std. deviation of timeSeries_column_name , take color = 'black' and label = 'Rolling Std'
- For distribution of rolling mean of timeSeries_column_name , take color = 'red' and label = 'Rolling Mean'<br/>
Also, set the title of the plot as 'Rolling Mean & Standard Deviation'.

In [ ]:
def rolling_means(timeSeries_column_name):
    # your code here

### Q4.   Create a function named adf_test to perform the Augmented Dickey-Fuller test on any given timeseries column. Take autolog = 'AIC'. Print out the results of the test, also do their naming(Test Statistic, p-value, Lags Used, Number of Observations Used, Critical Value (1%), Critical Value (5%) and Critical Value(10%) so that you can make clear observation.

In [ ]:
#Perform Augmented Dickey–Fuller test:
def adf_test(timeSeries_column_name):
    # your code here

In [ ]:
def test_stationarity(timeSeries_columnName):
    rolling_means(timeSeries_columnName)
    adf_test(timeSeries_columnName)

### Q5. Check the stationarity of priceMod column of the dfBang dataframe using the test_stationarity function created above.

In [ ]:
def generate():
    # your code here
    return None
generate()

### Q6. Add a column named priceModLog to the dfBang dataframe containing the log transformed values of priceMod column. Also plot the distribution of priceModLog.

In [ ]:
def generate():
    # your code here
    return dfBang
dfBang = generate()
dfBang.head()

In [ ]:
dfBang.priceModLog.plot(kind = "hist", bins = 30)

### Q7. Check the stationarity of priceModLog column of the dfBang dataframe using the test_stationarity function created above.

In [ ]:
def generate():
    # your code here
    return None
generate()

### Q8. Add a column named priceModLogShift1 to the dfBang dataframe containing the one shifted values of priceModLog column. 
Also, draw scatter plot with priceModLogShift1 on x axis and priceModLog on y axis and 50 as marker size.<br/>
Return the dataframe dfBang after removing null values of priceModLogShift1 column.

In [ ]:
def generate():
    # your code here
    return #your variable
dfBang = generate()
dfBang.head()

### Q9. Check the stationarity of priceModLogShift1 column of the dfBang dataframe using the test_stationarity function created above.

In [ ]:
def generate():
    # your code here
    return None
generate()

### Q10.   Add a column named priceModLogDiff to the dfBang dataframe containing the difference of priceModLog and priceModLogShift1 columns. Plot the distribution of priceModLogDiff.

In [ ]:
def generate():
    # your code here
    return dfBang
dfBang = generate()
dfBang.head()

### Q11. Check the stationarity of priceModLogDiff column of the dfBang dataframe using the test_stationarity function created above.

In [ ]:
def generate():
    # your code here
    return None
generate()

### Q12 a) Create a function named "evaluate_arima_model"  to return the aic values for the ARIMA model trained and fitted with given dataset X and arima_order.

In [ ]:
# evaluate an ARIMA model for a given order (p,d,q)
import warnings
warnings.filterwarnings("ignore")
from statsmodels.tsa.arima_model import ARIMA
def evaluate_arima_model(X, arima_order):
    model = ARIMA(X, order=arima_order)
    results_ARIMA = model.fit()
    #your code here to find aic
    return aic

### Q12 b) Create a function named "evaluate_models" with dataset, p_values, d_values and q_values as arguments. Making use of the evaluate_arima_model created in previous part of the question, print out AIC and the corresponding order for each combination of p,d,q. Also, print out the values of the order of p,d,q which gives the lowest AIC value along with that minimum AIC value. 
Hint: You'll need to use try and except block to handle Value error.

In [ ]:
# evaluate combinations of p, d and q values for an ARIMA model
def evaluate_models(dataset, p_values, d_values, q_values):
    best_score, best_cfg = float("inf"), None
    for p in p_values:
        for d in d_values:
            for q in q_values:
                order = (p,d,q)
                try:
                    print(p,d,q)
                    # store aic value returned by evaluate_arima_model 
                    # also find and print out best_score i.e. aic value for best_cfg i.e order
                except ValueError:
                    best_score, best_cfg = 9999, order
                    continue
    print('Best ARIMA%s AIC=%.3f' % (best_cfg, best_score))
    return None

### Q12 c) Call the function "evaluate_models" created in the above part passing dfBang.priceModLogDiff, p_values, d_values, q_values as arguments, Set the following ranges for p_values, d_values and q_values:
for p_values, [0, 1, 2] <br/>
for d_values, [0,1] <br/>
for q_values, range(0, 2)<br/>

In [ ]:
def generate():
    #your code here
    return None
generate()

### Running the ARIMA Model

### Q13. Create and return an ARIMA model trained and fitted with priceModLogDiff and taking order of p,d,q as 2,0,1.  Also, print the number of AR coefficients and the parameters of the model. Also, plot the distribution of fitted values (with black color) and priceModLogDiff (red color).

In [ ]:
from statsmodels.tsa.arima_model import ARIMA
def generate():
    # your code here
    return model, results_ARIMA
model, results_ARIMA = generate()

## Prediction & Reverse transformations of fittedvalues <a name = "prediction"></a>

### Q14. Store the fitted values in a seies named predictions_ARIMA_diff. Return it.

In [ ]:
def generate():
    # your code here
    return predictions_ARIMA_diff
predictions_ARIMA_diff = generate()  
predictions_ARIMA_diff.head()

### Q15. Return the cumulative sum of the elements of  predictions_ARIMA_diff. Return it.

In [ ]:
def generate():
    # your code here
    return predictions_ARIMA_diff
predictions_ARIMA_diff_cumsum = generate()  
predictions_ARIMA_diff_cumsum.head()

### Q16. Create a series named predictions_ARIMA_log of the same length as that of dfBang and all the elements values equal to the first element of priceModLog also keep the same index as that of dfBang.
To this series add predictions_ARIMA_diff_cumsum. Return the obtained series

In [ ]:
def generate():
    # your code here
    return # your variable
predictions_ARIMA_log = generate()
predictions_ARIMA_log.head()

### Q17. Create and return a series named reverted_back_prediction obtained by calculating the exponential of all elements of predictions_ARIMA_log

In [ ]:
def generate():
    # your code here
    return # your code here
reverted_back_prediction= generate()
reverted_back_prediction.head()

### Q18. Plot the distribution of priceMod ( with black color ) and reverted_back_prediction ( with red color )

In [ ]:
from matplotlib import pyplot
def generate():
    # your code here
    pyplot.show()
generate()